
body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
 
.header {
    background-color: black;
    height: 17%;
    top: 0; 
    left: 0;
    width: 100%;
    position: fixed;
}
 
.header .logo
{
    width: 100px;
    height: 100px;
    border-radius: 30%;
    position: fixed;  
    left: 25px;
    top: 1%;
}
.nav {
    display: flex;
    justify-content: space-between;
    max-width: 992px;
    margin: 0 auto;
}
 
.nav-link {
    color: white;
    text-decoration: none;
}
 
.inicio {
    color: #990000;
    font-size: 30px;
    font-weight: bold;
    padding: 10px 5px;
    line-height: 90px;
}

.nav-menu {
    display: flex;
    margin-right: 40px;
    list-style: none;
}
 .nav-menu-item {
    font-size: 18px;
    margin: 0 12px;
    line-height: 80px;
    width: max-content;
}
 
.nav-menu-link {
    padding: 8px 1px;
    border-radius: 10px;
}
 
.nav-menu-link:hover {
    font-size: 22px;
    background-color: #990000;
    transition: 0.7s;
}

.footer {
    background-color: black;
    text-align: center;
    font-size: 18px;
    color: white;
    height: 5%;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
}


